  <%- include("header") -%>
  <div class="box" id="heading">
    <h1 style="color: purple;"><%= listTitle %></h1>
  </div>

  <div class="box">
    <ul>
      <% for(var i=0;i<listItems.length;i++){ %>
        <form action="/delete" method="post">
          <div class="item">
            <input value="<%= listItems[i]._id %>" type="checkbox" name="checkedBox" onchange="this.form.submit()">
           <p><%= listItems[i].name %></p>
          </div>
          <input type="hidden" name="listName" value=<%= listTitle %>>
        </form>
      <% } %>
    </ul>
    <form class="item" action="/" method="post">
      <input type="text" placeholder="New Item" name="listItem" autocomplete="off">
      <button type="submit" name="listName" value=<%= listTitle %>>+</button>
    </form>
  </div>

  <%- include("footer") -%>